.unmatchedList {
  width: 400px;
  height: 800px;
  color: rgb(30, 36, 38);
  background-color: #5c5e61;
  border-bottom: 1px solid rgb(30, 36, 38);
  padding-top: 10px;
}

.noUnmatchedMsg {
  text-align: center;
}

.selected {
  background-color: lightgray;
  color: black;
}

.unmatch {
  width: 100%;
  :hover {
    @extend .selected;
  }
}

.unmatchDef {
  padding: 10px 10px;
  margin: 0 5%;
  border-bottom: 1px solid grey;
  display: flex;
}

.selectedUnmatchDef {
  @extend .unmatchDef;
  @extend .selected;
  border: inset 1px dotted grey;
}

.method {
  width: 15%;
}

.url {
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
