@import '../Colors.scss';

.contentsTitle {
  color: $prettyBlue;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: black;
}

.highlightedTerm {
  color: $prettyBlue;
  font-weight: bold;
}

.linkToOtherDocs {
  color: rgb(61, 152, 255);
}

.externalLink {
  color: rgb(61, 152, 255);
}

.screenshot {
  width: 90%;
}
