.Docs {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.docsContent {
  color: rgba(255, 255, 255, 0.774);
  display: flex;
  flex: 2;
}

.column {
  flex: 1;
  padding-left: 20px;
  background-color: #3a3939;
}

.centerColumn {
  flex: 2;
  padding: 0 20px;
  background-color: #1e1e1e;
  border-left: 1px solid white;
}
