@import './Colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  color: $whiteText;
  background-color: black;
  padding: 0 20px;
  h1 {
    padding: 10px;
    margin: 0;
  }
}

.helpAndBackButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $prettyBlue;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  min-width: 140px;
  margin: 10px 0;
}

.helpButton {
  @extend .helpAndBackButton;
}

.backToStub4Button {
  @extend .helpAndBackButton;
}
