.helpAndBackButton {
  background-color: #4494df;
  border: none;
  color: black;
  padding: 15px 32px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  float: right;
  z-index: 10;
}
