@import '../Colors.scss';

.Core {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panels {
  display: flex;
  flex: 2;
}

.tabs {
  padding-top: 10px;
}

.panels {
  display: flex;
}

.stubs {
  flex: 2;
  min-width: 500px;
}

.sidePanel {
  flex: 1;
  margin-left: 20px;
  min-width: 400px;
}

.panelControlBtn {
  border: none;
  border-radius: 2px;
  color: #000;
  height: 38px;
  font-size: 0.8em;
  text-align: center;
  float: right;
  font-weight: bold;
  top: 10px;
  right: 20px;
}

.clearBtn {
  @extend .panelControlBtn;
  background-color: #d52e2e;
  margin-right: 20px;
}

.createBtn {
  @extend .panelControlBtn;
  background-color: green;
}

.loading {
  color: $whiteText;
  padding: 20px;
}

.loading:after {
  animation: ellipses steps(1, end) 1s infinite;
  content: '';
}

@keyframes ellipses {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}
