.App {
  padding-top: 20px;
}

.header {
  .welcome {
    color: rgba(255, 255, 255, 0.685);
    display: inline-block;
  }
}
.tabs {
  display: flex;
  justify-content: space-between;
}

.panels {
  display: flex;
}

.stubs {
  flex: 3;
  min-width: 1000px;
  overflow: hidden;
}

.sidePanel {
  flex: 2;
  margin-left: 20px;
}

.sidePanelControl {
  background-color: #76899a;
  border: none;
  color: black;
  padding: 5px 10px;
  margin: 0px 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;
}

.showSidePanel {
  @extend .sidePanelControl;
}

.hideSidePanel {
  @extend .sidePanelControl;
  float: right;
}

.panelControlBtn {
  border: none;
  border-radius: 2px;
  color: #000;
  height: 38px;
  font-size: 0.8em;
  text-align: center;
  float: right;
  font-weight: bold;
  top: 10px;
  right: 20px;
  margin: 0 10px;
}

.clearBtn {
  background-color: #d52e2e;
  @extend .panelControlBtn;
}

.createBtn {
  background-color: green;
  @extend .panelControlBtn;
}
