@import '../Stub.scss';

.selectedStub {
  margin: 0;
  display: inline-block;
  width: 50%;
  background: #000;
  text-align: center;
  padding: 20px;

  .callCount {
    animation-name: flash-update;
    animation-duration: 0.3s;
  }
}

@keyframes flash-update {
  from {
    background: grey;
  }
  to {
    background: default;
  }
}
