.stubsList {
  width: 100%;

  .noStubsMsg {
    text-align: center;
  }

  .stub {
    padding: 10px 20px;
    display: flex;
    margin: 0;
    width: 100%;
    transition: all 0.2s;

    &:hover {
      background-color: #000;
      color: #fff;
      padding-left: 40px;
    }
  }

  .selected {
    background-color: #000;
    color: #fff;
    padding-left: 60px;
  }

  .stub p {
    margin: 0;
    padding: 5px;
  }
}
