.stubs {
  display: flex;
}

.stubTitle {
  display: inline-block;
}

.newStubBtn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-align: center;
}

.clearStubBtn {
  background-color: #d52e2e; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-align: center;
}
