.selectedDb {
  margin-left: 20px;
}

.length {
  font-weight: bold;
}

.selectedUrl {
  font-weight: bold;
}

.contentsLabel {
  display: inline-block;
}

.editButton {
  padding: 10px;
  margin-left: 20px;
  display: inline;
}

.dbContents {
  background-color: lightgray;
}

.dbContentsEdit {
  font-size: 16px;
}

.saveNewDbContents {
  padding: 10px;
  margin-bottom: 20px;
  display: block;
}

.dbItem {
  padding-left: 5px;
}
