.interaction {
  padding: 0 15px;
  border-bottom: 1px solid rgb(185, 184, 184);
}

.matchedInteraction {
  color: rgb(8, 182, 8);
}

.unmatchedInteraction {
  color: rgb(206, 7, 7);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.green {
  color: rgb(8, 182, 8);
}
.material-icons.red {
  color: rgb(206, 7, 7);
}
