.interactionsList {
  height: 700px;
  overflow-y: auto;
}

.clearInteractions {
  float: right;
  background-color: #76899a;
  border: none;
  color: black;
  padding: 5px 10px;
  margin: 0px 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  height: 30px;

  background-color: #d52e2e;
}

.interaction {
  padding: 15px 15px;
  border-bottom: 1px solid rgb(185, 184, 184);
  transition: all 0.2s;
  &:hover {
    background-color: #000;
    padding-left: 25px;
  }
}

.interactionLink {
  color: #fff;
  text-decoration: none;
}

.noInteractions {
  margin: 15px;
}

.matchedInteraction {
  color: rgb(8, 182, 8);
}

.unmatchedInteraction {
  color: rgb(206, 7, 7);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.green {
  color: rgb(8, 182, 8);
}
.material-icons.red {
  color: rgb(206, 7, 7);
}
