.proxyList {
  width: 600px;
  height: 800px;
  color: lightblue;
  background-color: #282c34;
  border-bottom: 1px solid grey;
  padding-top: 10px;
}

.noProxyMsg {
  text-align: center;
}

.selected {
  background-color: lightgray;
  color: black;
}

.proxy {
  width: 100%;
  :hover {
    @extend .selected;
  }
}

.proxyDef {
  padding: 10px 10px;
  margin: 0 5%;
  border-bottom: 1px solid grey;
  display: flex;
}

.selectedProxyDef {
  @extend .proxyDef;
  @extend .selected;
  border: inset 1px dotted grey;
}
