.stubs {
  display: flex;
}

.newStubBtn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 15px;
  margin-left: 50px;
  text-align: center;
}

.responseDefinition {
  border: none;
  padding: 10px 0;
  margin: 10px 0 0 0;
}
